#game-box {
    display: inline;
    text-align: center;
    margin-top: 25px;

}

#title {
    font-size: 25px;
    font-family: sans-serif;
    color: #5cbdb9;
    background-color: #c2edda;
    width: 200px;
    margin-left: 40%;
    margin-right: 10%;
    text-align: center;
    border-radius: 4px;

}
#question-box {
    background-color: red;
    margin-right: 30px;
    margin-left: 20px;
}

#game {
 display: flex;
}

body{
    /* background-image: url('/src/assets/background1.png');  */
    background-color: #494D5F;
}
#question-box{
    height: 100;
    width: 300px;
    margin-left: 10px;
}

img{
    height: 50px;

}

li{
    display: flex;
    list-style: none;
}

#start{
    padding: 20px;
    position: fixed;
    top: 30%;
    left: 40%;
    text-align: center;
}

#start a{
    color: olivedrab;
    padding: 10px;
    display: block;
    width: 200px;
    text-align: center;
    font-size: 2em;
    display: inline-block;
}

#gameover a{
    color: olivedrab;
    padding: 10px;
    display: block;
    width: 200px;
    text-align: center;
    font-size: 2em;
    display: inline-block;
}
