#game-box {
    display: inline;
    text-align: center;
    /* color: red; */
    /* background-image: url('/src/assets/background.png'); */
    
    margin-top: 25px;
    
  

}
#title {
    font-size: 25px;
    font-family: sans-serif;
    color: plum;
    background-color: black;
    width: 150px;
    margin-left: 40%;

}
#question-box {
    background-color: red;
    margin-right: 30px;
    margin-left: 20px;
}

#game {
 display: flex;
}

body{
    /* background-image: url('/src/assets/background1.png'); */
}
#question-box{
    height: 100;
    width: 300px;
    margin-left: 10px;
}

img{
    height: 50px;

}

li{
    display: flex;
    list-style: none;
}

